
    </main>
</body>
<br>
<footer class="footer">
    <div class="footer-name">&copy; Amritpal Chahal - General Assembly SEI72</div>
    <div class="attributes">Logo<a href="https://www.freepik.com/free-vector/cute-panda-lifting-barbell-gym-fitness-cartoon-vector-icon-illustration-animal-sports-icon-isolated_29456470.htm#query=fitness%20cartoon&position=6&from_view=keyword&track=ais"> image by catalyststuff</a> on Freepik | <a target="_blank" href="https://icons8.com/icon/17181/xbox-menu">Xbox Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></div>
</footer>
</html>