
    </main>
</body>
<br>
<footer>&copy; Amritpal Chahal - General Assembly SEI72 | Logo: <a href="https://www.freepik.com/free-vector/cute-panda-lifting-barbell-gym-fitness-cartoon-vector-icon-illustration-animal-sports-icon-isolated_29456470.htm#query=fitness%20cartoon&position=6&from_view=keyword&track=ais">image by catalyststuff</a> on Freepik</footer>
</html>