<%- include('../partials/header') %>

<!-- New specific code -->

<p>Please enter the details for your new workout below</p>

<form action="/workouts" method="POST" class="add-workout-form, m-top">

    <!-- Name -->
    <label>Name</label>
    <input type="text" name="name">
    
    <!-- Date -->
    <label>Date</label>
    <input type="datetime-local" name="date">
    
    <!-- Category -->
    <label>Category</label>
    <input type="text" name="category">
    
    <!-- Duration -->
    <label>Duration</label>
    <input type="text" name="duration">
    
    <!-- Calories -->
    <label>Calories burned</label>
    <input type="text" name="calories">
    
    <!-- Exercises -->
    <label>Exercises (separate exercises with commas)</label>
    <input type="text" name="exercises">

    <!-- Submit new workout -->
    <span id="addWorkoutBtn" class="m-top"><input type="submit" value="Add Workout"></span>

    <!-- Error rendering added -->
    <small class="red"><%= errorMessage %></small>
</form>

<!-- End of new specific code -->

<%- include('../partials/footer') %>