<%- include('./partials/header') %>

<!-- Index specific code -->

<a href="/workouts">Go to workouts</a>
<!-- <a href="/exercises">Go to exercises</a> -->

<!-- End of index specific code -->

<%- include('./partials/footer') %>