* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
}

main, footer {
  padding: 50px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

table {
  width: 50%;
  text-align: center;
}

th {
  border-bottom: 2px solid white;
}

.exercise-show-table {
  background-color: rgb(100, 127, 237);
  border-radius: 0.5rem;
  color: white;
  width: 100%
}

.workout-show-table {
  background-color: rgba(35, 108, 212);
  border-radius: 0.5rem;
  color: white;
}

.workout-exercises-show-table {
  background-color: rgb(100, 127, 237);
  border-radius: 0.5rem;
  color: white;
  width: 50%;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 5%;
  padding-top: 2%;
  border-bottom: 1px solid grey;
  margin-bottom: 1%;
}

li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: black;
  border-radius: 60px;
  padding: 30px 40px;
  max-width: 340px;
}

.home-page-title {
  color: white;
  margin-bottom: 50px;
}

.home-page-links {
  margin-bottom: 50px;
  border: 1px solid aquamarine;
  padding: 20px;
  border-radius: 20px;
  font-size: 1.2em;
}

.home-page a:hover {
  background-color: rgba(35, 108, 212);
  color: white;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 84%;
}

.separator {
  color: white;
  font-size: 1.5em;
  display: none;
}

.left-side-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-side-links {
  padding-bottom: 10px;
}

.appName {
  color: aquamarine;
}

.name-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16%;
}

.name-and-logo img {
  height: 40px;
  border-radius: 10px;
}

.login img {
  height: 20px;
  vertical-align: middle;
}

.navBar a {
  cursor: pointer;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 20px;
  color: #00B7FF;
  font-size: 1em;
}

#home-link {
  color: white
}

.navBar a:hover {
  background-color: white;
}

a:not(.navBar a):hover {
  transform: scale(1.1);
}

.nav-exercises a {
  color: rgb(100, 127, 237);
}

.right-side-links a {
  color: white;
}

.right-side-links a:hover, #home-link:hover {
  color: black;
}

.add-workout-form, .edit-workout-form {
  width: 100%;
  max-width: 270px;
  border: 3px solid rgb(100, 127, 237);
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(35, 108, 212);
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-exercise-form {
  width: 100%;
  max-width: 270px;
  border: 3px solid rgba(35, 108, 212);
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(100, 127, 237);
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-workout-form input, .edit-workout-form input, .add-exercise-form input {
  border-radius: 0.4rem;
  padding: 0.2rem;
}

.add-workout-form label, .edit-workout-form label, .add-exercise-form label {
  margin-top: 10px;
}

.addWorkoutBtn, .addExerciseBtn {
  text-align: center;
  padding-top: 1rem;
}

.addWorkoutBtn input, .addExerciseBtn input, .add-exercise-to-workout-btn {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.5rem;
}

.addWorkoutBtn input:hover, .addExerciseBtn input:hover {
  transform: scale(1.1);
}

.edit-button, .all-exercises-btn, .create-exercise-btn {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  background-color: rgb(100, 127, 237);
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 0.5rem;
}

.all-exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-button:hover {
  transform: scale(1.1);
}

.exercise-names {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workout-names {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workout-created-dates, .exercise-created-dates {
  width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workout-user-name {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like-unlike-button {
  width: 75px;
}

.workout-likes {
  width: 100px;
}

.m-top {
  margin-top: 10px;
}

.delete-workout-form, .delete-exercise-form {
  display: inline-block;
  width: 25px;
}

.delete-workout-form button, .delete-exercise-form button {
  color: aquamarine;
  border-radius: 0.3rem;
  cursor: pointer;
  background-color: slategrey;
}

#exercises-dropdown-menu option {
  color: black;
}

button:hover {
  transform: scale(1.1);
}

.unlike-button {
  background-color: grey;
  color: white;
  border-radius: 0.3rem;
}

.like-button {
  background-color: salmon;
  color: white;
  border-radius: 0.3rem;
}

.black {
  color: black;
}

.attributes {
  text-align: right;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: rgba(35, 108, 212);
  color: white;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

/* ? Media Queries */

@media (min-width: 768px) {
  li {
    display: flex;
    flex-direction: row;
    padding-top: 1%;
    padding-bottom: 3%;
  }
  
  .navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: black;
  padding-right: 10px;
  }

  .navBar a {
    font-size: 1.2em;
  }

  .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  }

  .left-side-links {
  width: 86%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  }

  .right-side-links {
  width: 14%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 10px;
  }

  .nav-exercises {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .separator {
    display: block;
  }
  
  .add-workout-form, .edit-workout-form, .add-exercise-form {
    max-width: 450px;
    padding: 40px;
  }

  .workout-exercises-show-table {
    width: 30%;
  }

  .workout-show-table, .exercise-show-table {
    width: 50%;
  }

  #badge-container {
    width: 500px;
  }

  .home-page {
    padding: 60px 80px;
    background-color: rgba(35, 108, 212);
    max-width: 500px;
    color: white;
  }

  .home-page-links {
    font-size: 1.5em;
    background-color: black;
    color: white;
    border-color: white;
  }

  .home-page a:hover {
    background-color: black;
    color: aquamarine;
  }
}