body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.navBar img {
  height: 30px;
}

.add-workout-form, .edit-workout-form {
  width: 100%;
  max-width: 250px;
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-workout-form label {
  margin-top: 10px;
}

#addWorkoutBtn {
  text-align: center;
}

.m-top {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .add-workout-form, .edit-workout-form {
    max-width: 400px;
    padding: 40px;
  }
}

.delete-workout-form {
  display: inline-block;
  margin-left: 10px;
}
	
.delete-workout-form button {
  color: red;
}
	
/* li {
  list-style: none;
} */