* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* padding: 50px; */
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  font: 14px "Varela Round", Helvetica, Arial, sans-serif;
}

main, footer {
  padding: 50px;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.appName {
  color: aquamarine;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: black;
}

.name-and-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftLinks {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightLinks {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.name-and-logo img {
  height: 34px;
  border-radius: 10px;
  /* height: auto;
  max-width: 10vw / 10%; */
}

.login img {
  height: 20px;
  vertical-align: middle;
}

.navBar a {
  cursor: pointer;
  display: inline-block;
  padding: 1% 2%;
  border-radius: 10px;
}

.navBar a:hover {
  background-color: white;
}

.add-workout-form, .edit-workout-form {
  width: 100%;
  max-width: 250px;
  border: 1px solid;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.add-workout-form label {
  margin-top: 10px;
}

.addWorkoutBtn {
  text-align: center;
}

.edit-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: aquamarine;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.m-top {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .add-workout-form, .edit-workout-form {
    max-width: 400px;
    padding: 40px;
  }
}

.delete-workout-form {
  display: inline-block;
  margin-left: 10px;
}
	
.delete-workout-form button {
  color: red;
}

ul {
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-bottom: 1%;
}

.red {
  color: red;
}